<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">link_1</a></li>
  <li class="breadcrumb-item"><a href="#">link_2</a></li>
  <li class="breadcrumb-item active">This Page</li>
</ol>

<h2>Buat Tiket</h2>
<form>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText> 
          <label for="float-input">Username</label>
        </span>        
      </div>
      <div class="form-group">
        <label for="">No.Telepon</label>
        <input type="text" class="form-control form-control-sm" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted"><i>(021)-99988xxx</i></small>
      </div>
      <div class="form-group">
        <label for="">Alamat</label>
        <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
        <small id="helpId" class="text-muted"><i>Jl.Raya No.1</i></small>
      </div>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-12">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm col-sm-12"><i class="fa fa-save"></i></button>
      </div>
    </div>
  </div>
</form>