<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card text-white bg-danger">
      <div class="card-header">
        <h4>Open <i class="fa fa-exclamation fa-lg" aria-hidden="true"></i></h4>
      </div>
      <ul class="list-group list-group-flush text-danger">
        <li class="list-group-item border border-danger">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger">2</span>
          </p>
        </li>
        <li class="list-group-item border border-danger">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger">2</span>
          </p>
        </li>
        <li class="list-group-item border border-danger">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-danger">2</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card text-white bg-success">
      <div class="card-header">
        <h4>Close <i class="fa fa-check fa-lg" aria-hidden="true"></i></h4>
      </div>
      <ul class="list-group list-group-flush text-success">
        <li class="list-group-item border border-success">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p class="align-left"><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-success">2</span>
          </p>
        </li>
        <li class="list-group-item border border-success">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p class="align-left"><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-success">2</span>
          </p>
        </li>
        <li class="list-group-item border border-success">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-success">2</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div class="card text-white bg-warning">
      <div class="card-header">
        <h4>Re-Open <i class="fa fa-refresh fa-lg" aria-hidden="true"></i></h4>
      </div>
      <ul class="list-group list-group-flush text-warning">
        <li class="list-group-item border border-warning">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-warning">2</span>
          </p>
        </li>
        <li class="list-group-item border border-warning">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-warning">2</span>
          </p>
        </li>
        <li class="list-group-item border border-warning">
          <p><strong> <a routerLink="/thread/123"> #9819293 Data Tidak Muncul </a></strong></p>
          <p><strong>Nama PIC 1</strong></p>
          <p>
            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            <span class="badge badge-pill badge-warning">2</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>